---
import Card from "./Card/index.astro";

const projects = [
  {
    name: "ore.ai",
    description: "AI-powered game engine that simplifies the creation of visual novels",
    language: "TypeScript",
    languageColor: "#3178c6;",
    href: "https://github.com/kcoopermiller/ore.ai",
  },
  {
    name: "arrowmancer-gym",
    description: "RL environment for Spellbrush's Arrowmancer",
    language: "Python",
    languageColor: "#3572A5;",
    href: "https://github.com/kcoopermiller/arrowmancer-gym",
  },
  {
    name: "kcoopermiller.github.io",
    description: "This website",
    language: "Astro",
    languageColor: "#ff5a03;",
    href: "https://github.com/kcoopermiller/kcoopermiller.github.io",
  },
  {
    name: "mamba-minimal-jax",
    description: "Mamba in one file of JAX",
    language: "Python",
    languageColor: "#3572A5;",
    href: "https://github.com/kcoopermiller/mamba-minimal-jax",
  },
  {
    name: "maid-os",
    description: "NixOS AI Waifu",
    language: "Python",
    languageColor: "#3572A5;",
    href: "https://github.com/kcoopermiller/maid-os",
  },
];
---

<style>
  .projects {
    position: relative;
    height: 100px;
    line-height: 1.6;
  }

  .projects a {
    color: #0366d6;
    font-weight: 600;
  }

  .projects a:hover {
    text-decoration: underline;
  }

  .projects p {
    color: rgb(155, 156, 157);
  }

  .project-card {
    background-color: rgb(22, 22, 22);
    border-radius: 6px;
    padding: 1rem;
    border: 1px solid rgb(49, 54, 61);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: opacity 1s;
    z-index: 1;
  }

  .project-card.visible {
    opacity: 1;
    z-index: 2;
  }

  @keyframes fadeInOut {
    0%,
    100% {
      opacity: 0;
    }
    25%,
    75% {
      opacity: 1;
    }
  }

  .animated {
    animation: fadeInOut 8s infinite;
  }

  .language {
    display: flex;
    align-items: center;
    color: rgb(155, 156, 157);
  }

  .language-color {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 0.5rem;
    border: 0.75px solid rgba(255, 255, 255, 0.4);
  }
</style>

<Card
  colSpan="lg:col-span-2"
  rowSpan="lg:row-span-2"
  title="Projects"
  href="https://github.com/kcoopermiller"
>
  <div class="flex flex-col gap-2">
    <section class="projects">
      {
        projects.map((project, index) => (
          <div
            class={`project-card ${index === 0 ? "visible animated" : ""}`}
            id={`project-card-${index}`}
          >
            <a href={project.href}>{project.name}</a>
            <p class="text-sm">{project.description}</p>
            <span class="text-sm language">
              <span
                class="language-color"
                style={{ backgroundColor: project.languageColor }}
              />
              {project.language}
            </span>
          </div>
        ))
      }
    </section>
  </div>
</Card>

<script>
  let currentProjectIndex = 0;
  const projects = document.querySelectorAll(".project-card");
  const totalProjects = projects.length;

  setInterval(() => {
    // Remove the 'visible' class from the current project
    projects[currentProjectIndex].classList.remove("visible", "animated");

    // Calculate the index of the next project
    currentProjectIndex = (currentProjectIndex + 1) % totalProjects;

    // Add the 'visible' class to the next project
    projects[currentProjectIndex].classList.add("visible", "animated");
  }, 8000); // Change project every 8 seconds
</script>
